/*
.body-allocate-bottom {
  margin-bottom: 70px;
}
*/

.body-allocate-top {
  margin-top: 97px;
}

/* NAVBAR */

.navbar.navbar-default {
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 0 40px transparent;
  border-style: none;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar.navbar-default.navbar-normalize {
  background-color: rgba(90,80,80,1);
  box-shadow: 0 0 40px #333;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar.navbar-default .navbar-brand,
.navbar.navbar-default .navbar-nav>li>a {
  color: white;
  cursor: pointer;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #494343;
}

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar.navbar-default .navbar-brand {
  /*text-transform: uppercase;*/
  font-size: 2em;
  font-weight: 500;
  padding-top: 42px;
  padding-bottom: 35px;
  height: initial;
}

@media (max-width: 992px) {
  .navbar.navbar-default .navbar-brand img {
    display: inline-block !important;
    width: 50px;
  }
  .navbar.navbar-default .navbar-brand {
    font-size: 1.5em;
    padding-top: 24px;
    padding-bottom: 27px;
  }
  .navbar.navbar-default .navbar-brand span {
    margin-left: 10px;
    vertical-align: sub;
  }
}

.navbar.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 37px;
}

@media (max-width: 768px) {
  .navbar.navbar-default .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 17px;
  }
}

.navbar.navbar-default .navbar-nav>li>a.btn-subscribe {
  color: #a2d4ab;
  background-color: #494343;
  border-color: #494343;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar.navbar-default .navbar-nav>li>a.btn-subscribe:hover,
.navbar.navbar-default .navbar-nav>li>a.btn-subscribe:active,
.navbar.navbar-default .navbar-nav>li>a.btn-subscribe:focus {
  color: #494343;
  background-color: #a2d4ab;
  border-color: #a2d4ab;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

@media (min-width: 768px) {
  .navbar.navbar-default .navbar-nav>li>a.btn-subscribe {
    padding-top: 12px;
    padding-bottom: 8px;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 10px;
  }
}

.km-navbar-brand a {
  position: absolute;
  left: calc(50% - 60px);
  top: 10px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar.navbar-default.navbar-normalize .km-navbar-brand a {
  left: calc(50% - 40px);
  top: 8px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar.navbar-default .km-navbar-brand a img {
  width: 120px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar.navbar-default.navbar-normalize .km-navbar-brand a img {
  width: 80px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}


.navbar.navbar-default .navbar-brand:hover,
.navbar.navbar-default .navbar-nav>li>a:hover,
.navbar.navbar-default .navbar-nav>li.active>a {
  color: #a2d4ab;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

.navbar.navbar-default .navbar-toggle {
  margin-top: 29px;
  border-style: none;
  padding-right: 0;
  margin-right: 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-toggle .icon-bar {
  width: 20px;
  height: 3px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 6px;
}

/* JUMBOTRON */
@media (min-width: 1200px) {
  .km-jumbotron, .km-jumbotron-overlay {
    max-height: 1440px;
  }
}



.km-jumbotron {
  /*height: 100vh;*/
  min-height: 100vh;
  max-height: 1440px;
  background-size: cover;
  background-position: center top;
}

.km-jumbotron-overlay {
  padding-top: 97px;
  /*height: 100vh;*/
  min-height: 100vh;
  max-height: 1440px;
  background-color: rgba(0,0,0,0.4);
}

.km-jumbotron-title,
.km-jumbotron-subtext {
  text-align: center;
  margin: auto;
}

.km-jumbotron-margin-top {
  height: calc((((100vh - 405px) / 2) - 97px) + 40px);
  min-height: 80px;
}

.km-jumbotron-margin-bottom {
  height: calc(((100vh - 405px) / 2) - 40px);
  min-height: 80px;
}

.km-jumbotron-title {
  /*margin-top: calc(((100vh - 280px) / 2) - 97px);*/
  font-size: 7.5em;
  font-weight: 500;
  color: #e5eec1;
  line-height: 1.1em;
  max-width: 680px;
}

.km-jumbotron-subtext {
  color: white;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  max-width: 640px;
}

.btn.btn-default.km-btn {
  border-radius: 0;
  border-width: 4px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding-top: 7px;
  padding-bottom: 5px;
  color: #333;
  border-color: #333;
  background-color: transparent;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.btn.btn-default.km-btn:hover,
.btn.btn-default.km-btn:active,
.btn.btn-default.km-btn:focus {
  color: white;
  background-color: #333;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}


.btn.btn-default.km-btn.km-btn-lg {
  margin-top: 20px;
  font-size: 1.25em;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 16px;
  letter-spacing: 0.5em;
  padding-right: 8px;
}

.btn.btn-default.km-btn.km-jumbotron-btn {
  color: white;
  border-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.btn.btn-default.km-btn.km-jumbotron-btn:hover,
.btn.btn-default.km-btn.km-jumbotron-btn:active,
.btn.btn-default.km-btn.km-jumbotron-btn:focus {
  color: #333;
  background-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

/* Animated SVG Arrows */

.a-arrow {
  display: block;
  margin-top: 30px;
}

.arrows {
	width: 60px;
	height: 21px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 2px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
  0% {opacity:0.5}
  40% {opacity:1}
  80% {opacity:0.5}
  100% {opacity:0.5}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
  0% {opacity:0.5}
  40% {opacity:1}
  80% {opacity:0.5}
  100% {opacity:0.5}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* Jumbotron Sizing */

@media (max-width: 768px) {
  .km-jumbotron, .km-jumbotron-overlay {
    height: initial;
    min-height: 100vh;
    max-height: initial;
  }
  .km-jumbotron-margin-top {
    height: calc((((100vh - 405px) / 2) - 97px) + 80px);
    min-height: 80px;
  }

  .km-jumbotron-margin-bottom {
    height: calc(((100vh - 405px) / 2) - 80px);
    min-height: 80px;
  }
  .km-jumbotron-title {
    /*margin-top: calc(((100vh - 280px) / 2) - 97px);*/
    font-size: 4.5em;
    max-width: 540px;
  }
}

/* SECTIONS */

a.anchor {
  display: block;
  position: relative;
  top: -136px;
  visibility: hidden;
}

a.anchor#content {
  top: -97px;
}

.row-limit {
  max-width: 960px;
  margin: auto;
}

.row-limit-p {
  max-width: 480px;
  margin: auto;
}

.section-main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-main h1 {
  text-align: center;
  padding-bottom: 40px;
}

.section-gradient {
  background: linear-gradient(#e5eec1, #a2d4ab, #3eaca8);
}

.section-dark {
  /*background: #5a5050;*/
  background-color: #494343;
}

.section-imagebg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .section-imagebg {
    background-size: contain;
  }
}

.section-dark+.section-dark {
  padding-top: 0;
}

.section-dark h1,
.section-dark h2 {
  color: #e5eec1;
}

.section-dark p {
  color: white;
}

/* STORIES Section */
.anchor-stories,
.anchor-stories * {
  text-decoration: none !important;
}

.panel-stories {
  max-width: 360px;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.20);
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.anchor-stories:hover .panel-stories,
.anchor-stories:active .panel-stories,
.anchor-stories:focus .panel-stories {
  box-shadow: 0 0 40px rgba( 62, 172, 168, 0 );
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.panel-stories .panel-heading {
  padding: 0;
  background-color: #3eaca8;
  border-color: transparent;
}

.panel-stories .panel-heading img,
.panel-stories .panel-heading .img-stories,
.img-stories {
  width: calc(100% + 30px);
}

.panel-stories .panel-heading h3,
.panel-stories .panel-heading .h3-stories,
.h3-stories {
  margin: 15px 15px 0 15px;
  color: #e5ebc0;
}

.panel-stories .panel-body {
  height: 120px;
  padding: 5px 15px 15px 15px;
  overflow: hidden;
  background-color: #3eaca6;
}

.panel-stories .panel-body::before {
  background-image: linear-gradient( top, rgba( 62, 172, 168, 0 ) 75%, rgba( 62, 172, 168, 1 ) 100% );
  background-image: -moz-linear-gradient( top, rgba( 62, 172, 168, 0 ) 75%, rgba( 62, 172, 168, 1 ) 100% );
  background-image: -ms-linear-gradient( top, rgba( 62, 172, 168, 0 ) 75%, rgba( 62, 172, 168, 1 ) 100% );
  background-image: -o-linear-gradient( top, rgba( 62, 172, 168, 0 ) 75%, rgba( 62, 172, 168, 1 ) 100% );
  background-image: -webkit-linear-gradient( top, rgba( 62, 172, 168, 0 ) 75%, rgba( 62, 172, 168, 1 ) 100% );
  content: "\00a0";
  height: 120px;
  margin-top: -5px;
  position: absolute;
  width: calc(100% - 32px);
  margin-left: -15px;
  margin-right: -15px;
}

@media(max-width: 768px) {
  .panel-stories .panel-body::before {
    max-width: 358px;
  }
}

.panel-stories .panel-body p {
  margin-bottom: 0;
  color: white !important;
}

.panel-stories .panel-footer {
  background-color: #3eaca6;
  border-color: transparent;
}



.panel-stories .panel-footer button.btn.btn-default.km-btn {
  font-weight: 500;
  color: white !important;
  background-color: transparent !important;
  /*
  border-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
  */
  border-color: transparent !important;
  text-align: right;
}

/*
.panel-stories .panel-footer button.btn.btn-default.km-btn:hover,
.panel-stories .panel-footer button.btn.btn-default.km-btn:active,
.panel-stories .panel-footer button.btn.btn-default.km-btn:focus {
  color: #3eaaa6;
  background-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}
*/


/* CAMPAIGN Section */

.img-logo {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: auto;
  margin-bottom: 45px;
}

.p-em {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.25em;
  text-align: center;
}

/* NUMBERS Subsection */

.col-numbers img,
.col-numbers .img-numbers,
.img-numbers,
.col-effects img,
.col-effects .img-numbers,
.img-effects {
  width: 100%;
  max-width: 210px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.col-numbers h2,
.col-effects h2 {
  text-align: center;
}

.col-numbers p,
.col-effects p {
  line-height: 1.8em;
}

.col-numbers a,
.col-effects a {
  text-decoration: underline;
  font-size: 0.75em;
  font-style: italic;
  color: #E4EDC0;
}

.col-numbers a.a-inline,
.col-effects a.a-inline {
  font-style: normal;
  font-size: 1em;
}

.col-numbers .div-number,
.col-effects .div-effect {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .col-numbers p,
  .col-effects p {
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
}

.section-dark .btn.btn-default.km-btn {
  color: white;
  border-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.section-dark .btn.btn-default.km-btn:hover,
.section-dark .btn.btn-default.km-btn:active,
.section-dark .btn.btn-default.km-btn:focus {
  color: #5a5050;
  background-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

/* EFFECTS Subsection */

.col-effects img,
.col-effects .img-effects,
.img-effects {
  width: 100%;
  max-width: 210px;
  display: block;
  margin: auto;
}

.col-effects h2 {
  text-align: center;
}

/* PARTNERS Section */

.container-partners {
  text-align: center;
  line-height: 45px;
}

.filler-partners {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  padding-top: 100px;
  background: #f2f2f2;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

/* FOOTER */

footer .text-center {
  background-color: #5a5050;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .text-center {
  color: white;
}

/* STORY */
.story-cover {
  background-size: cover;
  background-position: center top;
}

.story-cover-overlay {
  background-color: rgba(62, 172, 168, 0.75);
}

.story-cover-title {
  font-size: 5em;
  font-weight: 500;
  color: #e5eec1;
  line-height: 1em;
  max-width: 680px;
}

.story-cover-subtext {
  color: white;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  max-width: 640px;
}

.story-cover-title, .story-cover-subtext {
  text-align: center;
  margin: auto;
}

.section-story .row-limit {
  max-width: 800px;
  padding-top: 100px;
}

.section-story p {
  font-size: 1.25em;
  font-weight: 100;
  line-height: 2em;
  margin-bottom: 30px;
}

.section-landing h1 {
  margin-top: 60px;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #5A5050;
  color: #3EACA8;
}

@media (max-width: 768px) {
  .section-landing h1 {
    font-size: 3.5em;
  }
}

.visible-xxs {
  display: none;
}

@media (max-width: 435px) {

  .visible-xxs {
    display: inline;
  }
}

.section-landing .subtext {
  margin-bottom: 60px;
  max-width: 540px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #494343;
}
