---
layout: main

home: true
navHide: jumbotron
allocateBottom: true
slick: true
animate: true

numbers:
 - part1: 'Smoking kills 10 Filipinos every hour due to cancer, stroke, lung and
      heart diseases brought on by cigarette smoking.'
   href: http://newsinfo.inquirer.net/61111/smoking-kills-10-filipinos-every-hour#ixzz42lUCEocR
   hrefContent: 'World Health Organization'
 - part1: 'Twenty­-eight percent or 17.3 million Filipino adults age 15 years and
      older are current tobacco smokers, according to the results of the 2009 '
   href: https://psa.gov.ph/content/173-million-filipino-adults-are-current-tobacco-smokers-final-results-2009-global-adult
   hrefContent: 'Global Adult Tobacco Survey (GATS)'
   part2: '.'
 - part1: 'Filipinos mainly smoke cigarettes, which include manufactured cigarettes
      and hand­rolled cigarettes. Cigarettes are smoked by 47 percent of men and
      by 9 percent of women. On the average, male daily smokers consume 11 cigarettes
      per day while female daily smokers consume 7 cigarettes per day.'
   href: https://psa.gov.ph/content/173-million-filipino-adults-are-current-tobacco-smokers-final-results-2009-global-adult
   hrefContent: 'Philippine Statistics Authority'

effects:
 - header: 'Weakened Immune System'
   part1: Cigarette smoke contains high levels of tar and other chemicals, which
      can make your immune system less effective at fighting off infections. This
      means you're more likely to get sick, and are vulnerable to even the common
      cold and the flu.
 - header: A Chance for Cancer
   part1: A single cigarette contains over 4,800 chemicals, 69 of which are known
      to cause cancer. Smoking gives cancer a chance to take over your body and
      increases the risks of getting more smoking- related diseases. Over 30% of
      cancer could be prevented by avoiding tobacco and alcohol, having a healthy
      diet and physical activity. Don’t give cancer a chance.
 - header: 'Issue of the Heart'
   part1: 'The chemicals in tobacco smoke harm your blood cells. Smoking raises
      blood pressure, which increases the risk of stroke. It can also can damage
      the function of your heart and the structure and function of your blood
      vessels.  Although nicotine is the main active agent in cigarette smoke,
      other chemicals and compounds such as tar and carbon monoxide are also
      harmful to your heart in many ways.'

---

<section id="jumbotron" class="km-jumbotron" style="background-image:url('{{ site.baseurl }}/images/bg.jpg')">
  <section class="km-jumbotron-overlay">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="km-jumbotron-margin-top"></div>
          <p class="km-jumbotron-title">
            Lorem ipsum dolor sit amet
          </p>
          <p class="km-jumbotron-subtext">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat.
          </p>
          <div class="text-center">
            <a class="btn btn-default km-btn km-jumbotron-btn km-btn-lg" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#stories">Stories</a>
          </div>

          <a class="a-arrow" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#content">
            <svg class="arrows">
              <path class="a1" d="M0 0 L30 20 L60 0"></path>
  						<!--path class="a1" d="M0 0 L30 32 L60 0"></path>
  						<path class="a2" d="M0 20 L30 52 L60 20"></path>
  						<path class="a3" d="M0 40 L30 72 L60 40"></path-->
  					</svg>
          </a>

          <div class="km-jumbotron-margin-bottom"></div>
        </div>
      </div>
    </div>
  </section>
</section>

<section>
  <a class="anchor" id="content"></a>
<section class="section-main section-imagebg" style="background-image:url('{{ site.baseurl }}/images/bg-white.jpg');">
  <a class="anchor" id="stories"></a>
  <div class="container-fluid">
    <div class="row row-limit">
      <div class="col-lg-12">
        <h1>
          Stories
        </h1>


        {% for i in (1..6) %}
        {% assign modulo = i | modulo: 3 %}
        {% if modulo == 1 %}
        <div class="row{% if i > 3 %} hidden-xs{% endif %}"{% if i > 3 %} style="margin-top:10px;"{% endif %}>
        {% endif %}
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
            {% include panel-story.html %}
          </div>
        {% if modulo == 0 %}
        </div>
        {% endif %}
        {% endfor %}

      </div>
      <div class="col-lg-12 text-center">
        <a href="{{ site.baseurl }}/stories" class="btn btn-default km-btn km-btn-lg">All Stories</a>
      </div>
    </div>
  </div>
</section>

<section class="section-main section-gradient">
  <a class="anchor" id="about"></a>
  <div class="container-fluid">
    <div class="row row-limit">
      <div class="col-lg-12">
        <h1>
          The Campaign
        </h1>
        <img class="img-logo img-responsive wow fadeInDown" src="{{ site.baseurl }}/images/logo-full.png">

        <div class="row row-limit-p">
          <div class="col-lg-12">
            <p class="p-em">
              Sometimes, quitting is the best way to win.
            </p>
            <p>
              Walang Wagi Sa Yosi is lorem ipsum dolor sit
              amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
              tincidunt ut laoreet dolore magna aliquam erat volutpat. Emotional.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-main section-dark">
  <a class="anchor" id="info"></a>
  <div class="container-fluid">

    <div class="row row-limit">
      <div class="col-lg-12">
        <h1>
          Smoking in Numbers
        </h1>
        {% for number in page.numbers %}
        {% assign modulo = forloop.index | modulo: 3 %}
        {% if modulo == 1 %}
        <div class="row">
        {% endif %}
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-numbers">
            {% include item-number.html %}
          </div>
        {% if modulo == 0 %}
        </div>
        {% endif %}
        {% endfor %}
        {% if modulo != 0 %}
        </div>
        {% endif %}
      </div>
      <div class="col-lg-12 text-center">
        <a href="{{ site.baseurl }}/info" class="btn btn-default km-btn km-btn-lg">See More</a>
      </div>
    </div>
  </div>
</section>

<section class="section-main section-dark">
  <div class="container-fluid">

    <div class="row row-limit">
      <div class="col-lg-12">
        <h1>
          Effects of Smoking
        </h1>

        {% for effect in page.effects %}
        {% assign modulo = forloop.index | modulo: 3 %}
        {% if modulo == 1 %}
        <div class="row">
        {% endif %}
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-numbers">
            {% include item-effect.html %}
          </div>
        {% if modulo == 0 %}
        </div>
        {% endif %}
        {% endfor %}
        {% if modulo != 0 %}
        </div>
        {% endif %}

      </div>
      <div class="col-lg-12 text-center">
        <a href="{{ site.baseurl }}/info" class="btn btn-default km-btn km-btn-lg">See More</a>
      </div>
    </div>

  </div>
</section>

<section class="section-main section-imagebg" style="background-image:url('{{ site.baseurl }}/images/bg-white.jpg');">
  <div class="container-fluid">

    <div class="row row-limit">
      <div class="col-lg-12">
        <h1>
          Graphic Health Warnings
        </h1>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="slick-ghw-for">
              <div><img class="img-responsive" src="{{ site.baseurl }}/images/lungs-monoline.png"></div>
              <div><img class="img-responsive" src="{{ site.baseurl }}/images/logo-full.png"></div>
              <div><img class="img-responsive" src="{{ site.baseurl }}/images/lungs-monoline.png"></div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <section class="hidden-xs" id="section-copy-source">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing
              elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
              magna aliquam erat volutpat.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing
              elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
              magna aliquam erat volutpat.</p>
            </section>
            <div class="slick-ghw-nav">
              <div><img class="img-responsive" src="{{ site.baseurl }}/images/lungs-monoline.png"></div>
              <div><img class="img-responsive" src="{{ site.baseurl }}/images/logo-full.png"></div>
              <div><img class="img-responsive" src="{{ site.baseurl }}/images/lungs-monoline.png"></div>
            </div>
            <section class="visible-xs" id="section-copy-destination"></section>

            <script>
              var firstDivContent = document.getElementById('section-copy-source');
              var secondDivContent = document.getElementById('section-copy-destination');
              secondDivContent.innerHTML = firstDivContent.innerHTML;
            </script>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="partners" class="section-main hidden">
  <div class="container-fluid">
    <div class="row row-limit">
      <div class="col-lg-12">
        <h1>
          Partners
        </h1>
        <!--img>
        <img>
        <img-->
        <div class="container-partners">
          <div class="filler-partners"></div>
          <div class="filler-partners"></div>
          <div class="filler-partners"></div>
          <div class="filler-partners"></div>
          <div class="filler-partners"></div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
