---
layout: main
title: Infographics
allocateTop: true
animate: true

numbers:
 - part1: 'Smoking kills 10 Filipinos every hour due to cancer, stroke, lung and
      heart diseases brought on by cigarette smoking.'
   href: http://newsinfo.inquirer.net/61111/smoking-kills-10-filipinos-every-hour#ixzz42lUCEocR
   hrefContent: 'World Health Organization'
 - part1: 'Twenty­-eight percent or 17.3 million Filipino adults age 15 years and
      older are current tobacco smokers, according to the results of the 2009 '
   href: https://psa.gov.ph/content/173-million-filipino-adults-are-current-tobacco-smokers-final-results-2009-global-adult
   hrefContent: 'Global Adult Tobacco Survey (GATS)'
   part2: '.'
 - part1: 'Filipinos mainly smoke cigarettes, which include manufactured cigarettes
      and hand­rolled cigarettes. Cigarettes are smoked by 47 percent of men and
      by 9 percent of women. On the average, male daily smokers consume 11 cigarettes
      per day while female daily smokers consume 7 cigarettes per day.'
   href: https://psa.gov.ph/content/173-million-filipino-adults-are-current-tobacco-smokers-final-results-2009-global-adult
   hrefContent: 'Philippine Statistics Authority'
 - part1: '23 percent of Filipino adults are daily tobacco smokers: 38 percent for
       males and 7 percent for females.'
   href: https://psa.gov.ph/content/173-million-filipino-adults-are-current-tobacco-smokers-final-results-2009-global-adult
   hrefContent: 'Philippine Statistics Authority'
 - part1: 'According to the '
   href: http://www.manilatimes.net/smoking-in-ph-to-remain-high-as-youth-users-replace-adults/162168/
   hrefContent: 'Global Youth Tobacco Survey (GYTS)'
   part2: ', more than one in four Filipino children aged 13­15 are smokers. Among
      those in this age group who smoke, 17.5 percent are girls and 28.3 percent
      are boys.'
 - part1: 'It is estimated that 55 percent of Filipino youth are exposed to secondhand
      smoke at home while 65 percent get it in public places.'
   href: http://www.manilatimes.net/smoking-in-ph-to-remain-high-as-youth-users-replace-adults/162168/
 - part1: 'The Philippines is the second largest tobacco consumer in the ASEAN next
      to Indonesia with 17.3 million Filipino adults smoking. It is believed that
      majority of them have started the vice at a young age.'
   href: http://www.manilatimes.net/smoking-in-ph-to-remain-high-as-youth-users-replace-adults/162168/
   hrefContent: New Vois Association of the Philippines (NVAP)
 - part1: 'Every year more than 71850 Filipinos are killed by a tobacco­caused disease,
      while more than 505600 children and more than 15570000 adults continue to
      use tobacco each day.'
   href: http://www.tobaccoatlas.org/country-data/philippines/
   hrefContent: Tobacco Atlas
 - part1: 'The combined revenues of the world’s 6 largest tobacco companies in
      2013 was USD342 Billion, 6% larger than the Gross National Income of the
      Philippines.'
   href: http://www.tobaccoatlas.org/country-data/philippines/
   hrefContent: 'Tobacco Atlas'

effects:
 - header: 'Weakened Immune System'
   part1: Cigarette smoke contains high levels of tar and other chemicals, which
      can make your immune system less effective at fighting off infections. This
      means you're more likely to get sick, and are vulnerable to even the common
      cold and the flu.
 - header: A Chance for Cancer
   part1: A single cigarette contains over 4,800 chemicals, 69 of which are known
      to cause cancer. Smoking gives cancer a chance to take over your body and
      increases the risks of getting more smoking- related diseases. Over 30% of
      cancer could be prevented by avoiding tobacco and alcohol, having a healthy
      diet and physical activity. Don’t give cancer a chance.
 - header: 'Issue of the Heart'
   part1: 'The chemicals in tobacco smoke harm your blood cells. Smoking raises
      blood pressure, which increases the risk of stroke. It can also can damage
      the function of your heart and the structure and function of your blood
      vessels.  Although nicotine is the main active agent in cigarette smoke,
      other chemicals and compounds such as tar and carbon monoxide are also
      harmful to your heart in many ways.'
 - header: 'Less Life to Live'
   part1: 'Every cigarette you smoke reduces your expected lifespan by 11 minutes.
      On average, smokers die 10 years earlier than non­smokers. For every person
      who dies because of smoking, at least 30 people live with a serious smoking­-related
      illness. There’s more to life than the stick you light.'
 - header: 'Lorem Ipsum'
   part1: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
      nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat.'
---

<section class="section-landing">
  <div class="container-fluid">
    <div class="row row-limit">
      <div class="col-lg-12">

        <h1>Info<span class="hyphen visible-xxs">-</span><br class="visible-xxs"/>graphics</h1>
        <p class="subtext">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
            diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
            erat volutpat.
        </p>

      </div>
    </div>
  </div>
</section>

<section class="section-main section-dark">
  <div class="container-fluid">

    <div class="row row-limit">
      <div class="col-lg-12">
        <h1>
          Smoking in Numbers
        </h1>

        {% for number in page.numbers %}
        {% assign modulo = forloop.index | modulo: 3 %}
        {% assign remain = forloop.length | minus: forloop.index %}
        {% if modulo == 1 %}
        <div class="row">
        {% endif %}
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12{% if modulo == 1 and remain == 1%} col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0{% endif %} col-numbers">
            {% include item-number.html %}
          </div>
        {% if modulo == 0 %}
        </div>
        {% endif %}
        {% endfor %}
        {% if modulo != 0 %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>

<section class="section-main section-dark">
  <div class="container-fluid">
    <div class="row row-limit">
      <div class="col-lg-12">
        <h1>
          Effects of Smoking
        </h1>

        {% for effect in page.effects %}
        {% assign modulo = forloop.index | modulo: 3 %}
        {% assign remain = forloop.length | minus: forloop.index %}
        {% if modulo == 1 %}
        <div class="row">
        {% endif %}
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12{% if modulo == 1 and remain == 1%} col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0{% endif %} col-effects">
            {% include item-effect.html %}
          </div>
        {% if modulo == 0 %}
        </div>
        {% endif %}
        {% endfor %}
        {% if modulo != 0 %}
        </div>
        {% endif %}


      </div>
    </div>
  </div>
</section>
