<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/smoothscroll.js"></script>

{% if page.slick %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/slick.min.js"></script>
  {% if page.home %}
    <script>
      $(document).ready(function(){
        $('.slick-ghw-for').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: false,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 2000,
          infinite: true,
          speed: 500,
          fade: true,
          cssEase: 'linear',
          asNavFor: '.slick-ghw-nav'
        });
        $('.slick-ghw-nav').slick({
          slidesToShow: 6,
          slidesToScroll: 1,
          asNavFor: '.slick-ghw-for',
          dots: false,
          centerMode: false,
          focusOnSelect: true,
          responsive: [
            {
              breakpoint: 1200,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
        });
      });
    </script>
  {% endif %}
{% endif %}

{% if page.navHide %}

<script>
  function hasClass(element, cls) {
      return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
  }

  /* NAVIGATION HEADER*/

  var didScroll = false;

  var basis = document.getElementById('{{ page.navHide }}');
  var basis_bcr = basis.getBoundingClientRect();
  var navbar = document.getElementById('km-navbar');
  var navbar_bcr = navbar.getBoundingClientRect();
  window.onscroll = doOnScroll;

  function doOnScroll() {
      didScroll = true;
      basis_bcr = basis.getBoundingClientRect();
      navbar_bcr = navbar.getBoundingClientRect();
      //if ((basis_bcr.bottom-(navbar_bcr.bottom-navbar_bcr.top)) <= 0) {
      if (basis_bcr.bottom <= 97) {
        if (!(hasClass(navbar,'navbar-normalize'))) {
        //if (hasClass(navbar,'navbar-hide')) {
          navbar.classList.add('navbar-normalize');
          //navbar.classList.remove('navbar-hide');
        }
      }
      else {
        if ((hasClass(navbar,'navbar-normalize')) && (basis.getBoundingClientRect().top == 0)) {
        // if ((!(hasClass(navbar,'navbar-hide'))) && (basis.getBoundingClientRect().top == 0)) {
          navbar.classList.remove('navbar-normalize');
          //navbar.classList.add('navbar-hide');
        }
      }
  }

  setInterval(function() {
      if(didScroll) {
          didScroll = false;
      }
  }, 100);
</script>

{% endif %}

{% if page.parallax == true %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/parallax.min.js"></script>
  <script>$('.parallax-window').parallax({imageSrc: '{{ site.baseurl }}{{ page.parallaxLarge }}',iosFix: false});</script>
  {% if page.parallaxSmall %}
    <style>
      @media (max-width: 768px) {
        .parallax-window {
          background-image: url('{{ site.baseurl }}{{ page.parallaxSmall }}');
          background-size: cover;
          background-position: center top;
        }
        .parallax-mirror {
          display: none;
        }
      }
    </style>
  {% endif %}
{% endif %}

{% if page.animate == true %}
  <!--script src="{{ site.baseurl }}js/wow.min.js"></script>
  <script>new WOW().init();</script-->
{% endif %}
