<header class="">
  <nav id="km-navbar" class="navbar navbar-default navbar-fixed-top {% if page.navHide %}{{ ' ' }}{% else %}{{ ' navbar-normalize ' }}{% endif %}">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% else %}{{ site.baseurl }}{{ '/#top' }}{% endif %}">
          <img class="visible-xs img-brand" src="{{ site.baseurl }}/images/lungs-monoline.png" >
          <span>#SmokeFreePH</span>
        </a>
      </div>

      <div class="km-navbar-brand hidden-sm hidden-xs">
        <a  href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% else %}{{ site.baseurl }}{{ '/#top' }}{% endif %}"><img src="{{ site.baseurl }}/images/logo-full.png"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% else %}{{ '#' }}{% endif %}stories">Stories</a></li>
          <li><a href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#about">About</a></li>
          <li><a href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% else %}{{ '#' }}{% endif %}info">Info</a></li>
          <li><a class="btn btn-default btn-subscribe km-btn" target="_blank" href="http://eepurl.com/bVGXOj">Subscribe</a></li>
          <li class="hidden"><a href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#social">Social</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
