<a class="anchor-stories" href="{{ site.baseurl }}/stories/story">
  <div class="panel panel-default panel-stories wow fadeInDown {% if modulo == 2 %} delay-200{% elsif modulo == 0 %} delay-400{% endif %}">
    <div class="panel-heading">
      <img class="img-responsive img-stories" src="{{ site.baseurl }}/images/filler-stories.jpg">
      <h3 class="h3-stories">Lorem ipsum dolor</h3>
    </div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
        diam nonummy nibh euismod tincidunt ut laoreet dolore magna
        aliquam erat volutpat.</p>
    </div>
    <div class="panel-footer"><button class="btn btn-default km-btn btn-block">Read More &gt;</button></div>
  </div>
</a>
